/* ==================================
              Colors
================================== */
$lightGray : #9EB3C2;
$lightBlue : #62929E;
$white : #fff;
$lightWhite : #eee;
$dark : #212529;
$orangeScores : rgba(255, 175, 0, 0.1);
$redScores : rgba(255, 0, 0, 0.1);
$greenScores : rgba(0, 204, 0, 0.1);
$orange : rgba(255, 175, 0, 1);
$red : rgba(255, 0, 0, 1);
$green : rgba(0, 204, 0, 1);

/* ==================================
              Fonts
================================== */
@font-face {
  font-family: 'title-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'txt-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Regular.ttf) format('truetype');
}

$title-font: 'title-font';
$txt-font: 'txt-font';