/* ==================================
              Colors
================================== */
$lightGray : #9EB3C2;
$lightBlue : #62929E;
$white : #fff;
$lightWhite : #eee;

/* ==================================
              Fonts
================================== */
@font-face {
  font-family: 'title-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'txt-font';
  font-display: swap;
  src: url(../webfonts/OpenSans-Regular.ttf) format('truetype');
}

$title-font: 'title-font';
$txt-font: 'txt-font';