@import "variables";

.border-leader {
  border : 2px solid red;
}

.classic_defense {
  border : 1px solid $lightGray;
  &:hover {
    background-color: $lightGray;
    cursor: pointer;
  }
}

.monster_lead {
  position : relative;

  .leader_box {
    width : 25px;
    height : 20px;
    position : absolute;
    bottom: 1px;
    left: -1px;
  }
}

.monster-img{
  height : 30px;
  width : 30px;
}