{% extends 'layout.html.twig' %}

{% block page_title %}Boîte à outils{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <h2 class="ma-20-bottom">PVE :</h2>
                    <a href="{{ path('toolbox_bj5') }}"><p>Calculateur pour BJ5</p></a>
                    <a href="{{ path('toolbox_buildings') }}"><p>Calculateur de temps pour finir les bâtiments d'arène</p></a>
                    <a href="https://tool.swop.one" target="_blank"><p>Optimizer</p></a>
                </div>
            </div>
            <div class="col-12 ma-10-top">
                <div class="pa-20 bg-white full-height">
                    <h2 class="ma-20-bottom">PVP :</h2>
                    <a href="{{ path('toolbox_gvo_time') }}"><p>Prévisionnel GVO</p></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}