{% extends 'layout.html.twig' %}

{% block page_title %}Boîte à outils{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <a href="{{ path('toolbox_bj5') }}"><h2>Calculateur de dégâts pour BJ5</h2></a>
                </div>
            </div>

            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <a href="{{ path('toolbox_buildings') }}"><h2>Calculateur de temps restant pour finir les bâtiments d'arène</h2></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <a href="https://tool.swop.one" target="_blank"><h2>Optimizer</h2></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}