{% extends 'layout.html.twig' %}

{% block page_title %}Boîte à outils{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <a href="{{ path('toolbox_bj5') }}"><h2>Calculateur de dégâts pour BJ5</h2></a>
                </div>
            </div>

            {#
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">

                </div>
            </div>
            #}
        </div>
    </div>
{% endblock %}