<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block page_title '' %} | {{ site_title }}</title>
        <link rel="shortcut icon" type="image/ico" href="{{ asset('build/assets/img/favicon.ico') }}"/>
        {% block moreCSS %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block moreJS %}{% endblock %}
    </body>
</html>
