{% extends 'base.html.twig' %}

{% block moreCSS %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {% if app.user %}
         {% include "nav.html.twig" %}
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p class="t-align-center">Jeremy Emo - 2020</p>
    </footer>
{% endblock %}

{% block moreJS %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}