{% extends 'layout.html.twig' %}

{% block page_title %}Gestion de guilde{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}