{% extends 'layout.html.twig' %}

{% block page_title %}Gestion de guilde{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 ma-25-top">
                <div class="pa-20 bg-white">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">GvG</th>
                            <th scope="col">GvO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr>
                                <td>{{ member.username }}</td>
                                <td>{{ member.member.isInGvG ? 'Oui' : 'Non' }}</td>
                                <td>{{ member.member.isInGvO ? 'Oui' : 'Non' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}