{% extends 'layout.html.twig' %}

{% block page_title %}Profil de {{ member.user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Profil de <strong>{{ member.user.username }}</strong></h2>
                </div>
            </div>
            <div class="col-12 ma-25-top">
                <div class="row bg-white pa-20">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <p><a href="{{ member.user.swarfarm }}">Swarfarm</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}